.list {
    list-style-type: none;
    margin: 0 10px;
    padding: 0;
    text-align: center;
  }
.item {
    display: inline;
    margin: 0 10px;
    font-size: 20px;
  }
  .navigation {
    background-color: goldenrod;
    height: 80px;
  }
  .companyName {
    margin-top: 0;
  }
  .link {
    text-decoration: none;
  }
  .active {
    text-decoration: underline;
    font-weight: bold;
  }